<!-- <p>
  trader-component works!
</p> -->
<!-- [class.selected]="trader === selectedTrader"-->
<ul class="traders">
  <li  *ngFor="let trader of traders;let i=index;" (click)="onClick(trader)" >
    <p [ngClass]="{'backYell': i%2==0 ,'frontYell' :i%2==1 ,'bothYell':i>6}">
      {{trader.name}}
    </p>
    <app-update-trader *ngIf="trader === selectedTrader" [trader]="selectedTrader" > </app-update-trader>
  </li>
</ul>
<app-trader-detail [trader]="selectedTrader"></app-trader-detail>
<app-observable  (open)="getTraders($event)"></app-observable>

