<!-- <p>
  trader-detail works!
</p> -->
<div *ngIf="trader" >
  <table>
    <tr>
      <td>Age</td>
      <td>{{trader.age}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{trader.name | testPipe : 'makeri' }}</td>
      </tr>
      <button (click)="clickMe()">ClickMeBitch</button>
       <app-delete-trader ></app-delete-trader>
       
      <!-- (deleteRequest)="deleteTrader($event)"
         <tr>
          <td>Age</td>
          <td>{{trader.age}}</td>
        </tr> -->
      </table>
     
  </div>
  