<!-- <div>
  <p>Without a form</p>
  <div><input type="text" placeholder="Name" [(ngModel)]="trader.name" /></div>
  <div><input type="number" placeholder="Age" [(ngModel)]="trader.age" /></div>
  <button (click)="addTrader()">Add Trader</button>
</div> -->

<div>
    <p>Template Driven Form</p>
  <div class="form-control">
    <input type="text" class="form-control" required [(ngModel)]="trader.name" >
  </div>
  <div class="form-control">
      <input type="number" class="form-control" required [(ngModel)]="trader.age" >
    </div>
    <button type="submit" (click)="(addTrader())" >
        Submit it
      </button>
</div>
<div>
  <p>
   Reactive Driven Form with validation Form
  </p>
  <form [formGroup]="traderProfileForm" (ngSubmit)="addTrader2()">
    <label>Name : <input type="text" formControlName="name"/></label>
    <label>Age : <input type="number" formControlName="age"/></label>
    <label>PrimaryEmail : <input type="email" formControlName="email" email="true" ></label>
    <!-- <label>SecondaryEmail : <input type="></label> -->
    <button type="submit" [disabled]="!traderProfileForm.valid">
      Submit it
    </button>
  </form>
</div>
