<nav *ngIf ="!selected">
    <a routerLink="/traders" (click)="changeFlag()">Traders</a>
    <a routerLink="/traders/addTrader"  (click)="changeFlag()" >Add Trader</a>
    <a routerLink="/traders/componentsAndTemplatesComponent"  (click)="changeFlag()">ComponentsAndTemplates</a>
    <a routerLink="/traders/input"  (click)="changeFlag()">Input</a>
    <div><a routerLink="/traders/parent"  (click)="changeFlag()">Parent</a></div>
    <!-- <a routerLink="traders/observable">Observable Component</a> -->
    <a routerLink="/traders/router"  (click)="changeFlag()">Router</a>
  </nav>
<router-outlet></router-outlet>
 <button (click)="changeFlag()">Back</button> 
 <button>Front</button>
