<!-- <p>
  update-trader works!
</p> -->
<div>
    <p>Update way in form without ng-model and patchValue in formControl</p>
    <form [formGroup]="updateTraderFormGroup" (ngSubmit)="updateTrader()">
      <label >Name :

        <input type="text" formControlName="name"
      /></label>
      <label>Age :
         <input type="number" formControlName="age"
      /></label>
      <button type="submit">Submit it</button>
    </form>
  </div>

  <div>
      <p>Update Second way in form without ng-model and patchValue in formControl</p>
      <form [formGroup]="updateTraderFormGroup" (ngSubmit)="updateTrader()">
        <label >Name :

          <input type="text" formControlName="name" [(ngModel)]="trader.name"
        /></label>
        <label>Age :
           <input type="number" formControlName="age" [(ngModel)]="trader.age"
        /></label>
        <button type="submit">Submit it</button>
      </form>
    </div>
